<nav class="navbar navbar-light navigation">
  <div class="container">
    <div class="row w-100">
      <div class="col-12 col-md-4 order-md-2 text-center my-3">
        <a class="col col-md-2" href="#"><img src="{{ '/assets/img/io-logo-temp-blue@3x.png' | relative_url }}" alt="io" class="io__icon"/></a>
      </div>
      <div class="col-12 col-md-4 order-md-1">
        <div class="row">
          <a class="col-12 col-sm-6 text--light-blue font-weight-bold text-center my-1" href="#">Cittadini</a>
          <a class="col-12 col-sm-6 text--light-blue font-weight-bold text-center my-1" href="#">Pubblica Amministrazione</a>
        </div>
      </div>
      <div class="col-12 col-md-4 order-md-3">
        <div class="row">
          <a class="col-12 col-sm-6 text--light-blue font-weight-bold text-center my-1" href="#">Amministratori</a>
          <a class="col-12 col-sm-6 text--light-blue font-weight-bold text-center my-1" href="#">Giornalisti</a>
        </div>
      </div>
    </div>
  </div>
</nav>