<nav class="navbar navbar-light navigation">
  <div class="container">
    <div class="row w-100">
      <div class="col-4">
        <div class="row">
          <a class="col col-4 text--light-blue font-weight-bold" href="#">Cittadini</a>
          <a class="col col-8 text--light-blue font-weight-bold text-center" href="#">Pubblica Amministrazione</a>
        </div>
      </div>
      <div class="col-4 text-center">
        <a class="col col-md-2" href="#"><img src="{{ '/assets/img/io-logo-temp-blue@3x.png' | relative_url }}" alt="io" class="io__icon"/></a>
      </div>
      <div class="col-4">
        <div class="row">
          <a class="col col-md-4 text--light-blue font-weight-bold text-center" href="#">Scarica</a>
          <a class="col col-md-4 text--light-blue font-weight-bold text-center" href="#">Amministratori</a>
          <a class="col col-md-4 text--light-blue font-weight-bold text-right" href="#">Giornalisti</a>
        </div>
      </div>
    </div>
  </div>
</nav>