@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

body {
  background-color: #FAFBFD;
  font-size: 14px;
}

.universe {
  height: 100vh;
  min-height: 650px;
  padding-top: 0;
  padding-bottom: 0;
}

.navigation__slim {
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  z-index: 5;
  color: #FFF;
  top: 0;
  background: rgba(23, 57, 102, 0);
  transition: background .2s ease-out;
  &.navigation__slim--blue {
    background: rgba(23, 57, 102, 1);
  }
}

.navigation {
  transition: all .5s ease-out;
  background: white;
  z-index: -3;
  &.navigation--top {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 3;
  }
}
.io__icon {
  width: 36px;
  padding-left: 12px;
}

.white {
  background-color: #FFF;
}
.blue {
  background-color: $color--primary;
  color: #FFF;
}
.grey {
  background-color: $color--grey;
}
.text--light-blue {
  color: $color--light-blue;
}
.site-footer {
  background-color: $color--dark-blue;
  color: #FFF;
}

.bd-footer {
  background-color: #455b71;
  color: #fff;

  @media screen and (min-width: $grid-breakpoints-sm) {
    text-align: left;
  }
  .team-logo {
    &--icon {
      width: 72px
    }
    &--text {
      font-size: 16px;
      line-height: 1rem;
      max-width: 160px;
      text-transform: uppercase;
    }
  }
  .small-prints {
    color: #00FFF8;
    font-weight: 600;
  }
}