$device-width: 244px;
$device-height: 491px;

$ball-size: 14px;
$ball-size--small: 10px;

$color--primary: #06C;
$color--light-blue: #0073E6;
$color--dark-blue: #00264D;
$color--grey: #FAFBFD;

$break-small: 320px;
$break-large: 1200px;

$margin-top: 100px;