---
layout: default
---

{%- include navigation-slim.html -%}

<div class="page-scroll-container">
  <div class="section section__one">
    {%- include home/section-1.html -%}
    {%- include home/copy.html -%}
    {%- include home/device.html -%}
  </div>
  <div class="section section__2">
    {%- include navigation.html -%}
  </div>
  <div class="section section__3"></div>
  <div class="section section__4"></div>
  <div class="section section__5"></div>
  <div class="section section__6"></div>
</div>
<div class="section section_seven">
{%- include home/section-7.html -%}
</div>
{%- include footer.html -%}


{%- include scripts.html -%}
