<div class="constellation__inner constellation__inner--comune">
  <h3 class="title title--comune">Comune</h3>
  <div class="ball ball--anagrafe ball--5"></div>
  <div class="text text--anagrafe">certificati<br/>anagrafici</div>
  <div class="bord bord--anagrafe"></div>

  <div class="ball ball--small ball--mensa ball--6"></div>
  <div class="text text--small text--mensa">mensa<br/>scolastica</div>
  <div class="bord bord--mensa"></div>

  <div class="ball ball--small ball--multe ball--7"></div>
  <div class="text text--small text--multe">multe</div>
  <div class="bord bord--multe"></div>

  <div class="ball ball--small ball--tari ball--8"></div>
  <div class="text text--small text--tari">tari</div>
  <div class="bord bord--tari"></div>
</div>