<div class="copy">
  <div class="copy__content copy__content--1">
    <!--<div class="italia">
      <div class="italia__dot"></div>
      <div class="italia__shape"></div>
    </div>-->
  </div>
  <div class="copy__content copy__content--2">
    {%- include home/section-2.html -%}
  </div>
  <div class="copy__content copy__content--3">
    {%- include home/section-3.html -%}
  </div>
  <div class="copy__content copy__content--4">
    {%- include home/section-4.html -%}
  </div>
  <div class="copy__content copy__content--5">
    {%- include home/section-5.html -%}
  </div>
  <div class="copy__content copy__content--6">
    {%- include home/section-6.html -%}
  </div>
</div>