<div class="device">
  <div class="device__content device__content--1 device__content--in">
    <div class="device__logo"></div>
    <ul class="device__list">
      <li><a href="#messaggi"><img src="{{ '/assets/img/icon-messages@3x.png' | relative_url }}" alt="messaggi" class="device__icon"/> Messaggi</a></li>
      <li><a href="#pagamenti"><img src="{{ '/assets/img/icon-wallet@3x.png' | relative_url }}" alt="pagamenti" class="device__icon"/> Pagamenti</a></li>
      <li><a href="#documenti"><img src="{{ '/assets/img/icon-document@3x.png' | relative_url }}" alt="documenti" class="device__icon"/> Documenti</a></li>
      <li><a href="#preferenze"><img src="{{ '/assets/img/icon-settings@3x.png' | relative_url }}" alt="preferenze" class="device__icon"/> Preferenze</a></li>
      <li><a href="#profilo"><img src="{{ '/assets/img/icon-user@3x.png' | relative_url }}" alt="profilo" class="device__icon"/> Profilo</a></li>
    </ul>
  </div>
  <div class="device__content device__content--2">
    <img src="{{ '/assets/img/screen2.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--3">
    <img src="{{ '/assets/img/screen3.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--4">
    <img src="{{ '/assets/img/screen4.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--5">
    <img src="{{ '/assets/img/screen5.png' | relative_url }}" style="width: 100%"/>
  </div>
  <div class="device__content device__content--6">
    <img src="{{ '/assets/img/screen6.png' | relative_url }}" style="width: 100%"/>
  </div>
</div>